body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    display: block;
    height: 50vmin;
    width: 50vmin;
    position: absolute;
    transform: rotate(calc(var(--i) * 18deg));
}
span::before{
    display: block;
    content: '';
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: #0ff;
    box-shadow: 0 0 5px #0ff,
                0 0 10px #0ff,
                0 0 15px #0ff;
    animation: blink 2s linear infinite;
    animation-delay: calc(var(--i) * -100ms);
}
@keyframes blink{
    0%{
        transform: scale(1);
    }
    65%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}
